* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Bebas Neue", cursive;
}
header {
  background-color: antiquewhite;
}
.nav-images {
  /* width: 60%; */
}
.nav-padding {
  /* padding-right: 50px !important; */
}
.penguine-h1 {
  color: aqua;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}
.winter-h1 {
  color: cornflowerblue;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}
.banner-section {
  /* height: 600px; */
  background: antiquewhite;
}
.btn-color {
  background: #76c27e !important;

  border-radius: 10px !important;
}
.profile-img {
}
.heading-text{
  color: #664fb3;
}
.women-images{background-color: aliceblue;border-radius: 15px;}
.women-images-top{}

.women-card{
    border: none;
    border-radius: 15px;
    width: 90%;
    

}
.womer-card-images{
  border: none !important;
  border-radius: 15px !important;
}