* {
    margin: 0;
    padding: 0;
  }
  header {
    background-color: antiquewhite;
  }
  .nav-images {
    width: 60%;
  }
  .nav-padding {
    padding-right: 50px !important;
  }
.penguine-h1{
      color: aqua;
      font-weight: 700;
      font-size: 60px;
      text-transform: uppercase;
  }
.winter-h1{
      color: cornflowerblue;
      font-weight: 700;
      font-size: 60px;
      text-transform: uppercase;
  
  }
.banner-section{
    height: 600px;
    background: antiquewhite;
}
.btn-color{
    background: #76c27e;
    font-size: 40px;
    border-radius: 20px;
}